/*
 Theme Name:   SAAO
 Description:  Theme for the SAAO website
 Author:       SAAO
 Author URI:   https: //www.saao.ac.za;
 Template:     bridge
 Version:      1.5.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
*/

/* Styles for Whats Up posts */

.nutshell {
  background-color: #eeeeee;
  border: 1px solid #111111;
  line-height: 1.5em;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 2em;
}
.nutshell table {
  margin-bottom: 22px;
}
.nutshell table th {
  padding-bottom: 0;
  padding-left: 0;
  text-align: left;
}
.nutshell table td, table th {
  padding-right: 1em;
}
.nutshell p {
  margin-top: 0.5em;
}

.qode-btn.qode-btn-icon .qode-btn-text {
  text-align: center;
  white-space: nowrap;
}

.qode-btn {
  text-align: center;
}

.blue_blocktext {
    background-color: #5486c5;
    color: #fff;
    padding: 20px;
    margin-top: 0px;
    font-weight: bold;
}

.blue_blocktext a, .blue_blocktext a:hover {
    color: #322a60;
}

.red_blocktext {
    background-color: #ef3e44;
    color: #fff;
    padding: 20px;
    margin-top: 0px;
    font-weight: bold;
}

.red_blocktext a, .red_blocktext a:hover {
    color: #322a60;
}

.blue_notice_block {
    color: #fff;
    background-color: #5486c5;
    border: 2px solid red;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
/*  font-weight: bold; */
}

.blue_notice_block p {
    color: #fff;
}

.blue_notice_block a {
    color: #322a60;
}

.gform_wrapper .gform_footer.top_label {
    display: block;
}
